<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis Dashboard</h1>
        <input type="text" id="input-text" placeholder="Enter text for prediction">
        <button id="submit-button">Predict</button>
        <div id="output-div"></div>
        <h2>Sentiment Distribution</h2>
        <div id="sentiment-graph"></div>
        <a href="/dashboard/">Go to Dashboard</a> <!-- Link to the dashboard -->
    </div>

    <script src="static/script.js"></script>
</body>
</html>
